 
.nav-link {
    color: rgb(226, 128, 0);
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: 400;
    font-size: larger;
    font-family: cursive;
    transition: color 0.3s;
  }
  .navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000; /* Adjust z-index as needed */
  background-color: #fff; /* Set background color for navbar */
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add transition for smooth color change */
}

/* Add styles for the scrolled navbar */
.navbar.scrolled {
  position: fixed; /* Change to fixed positioning when scrolled */
  background-color: #fff; /* Change background color when scrolled */
  opacity: 1;  /* Add your desired background color here */
}

  .navbar-brand {
    background: rgb(124, 120, 120);/* Gradient from red to light purple */
    padding: 0.5rem 1rem; /* Add padding for better appearance */
    font-family: cursive;
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  }
  
  .welcome-text {
    color: rgb(9, 131, 56); /* Set text color to white */
  }
  .navbar {
    transition: background-color 0.3s ease-in-out;  /* Add transition for smooth color change */
  }
  
  .navbar.scrolled {
    background-color: rgb(17, 125, 175); /* Add your desired background color here */
  }
  
  .navbar-nav {
    display: flex;
  }
  .nav-link:hover {
    color: #007bff;
  }
  